# yaml-language-server: $schema=https://github.com/compose-spec/compose-go/blob/main/schema/compose-spec.json

services:
  redis:
    image: redis
    ports:
      - 6379:6379

  backend:
    build:
      context: .
    ports:
      - 8000:8000
    depends_on:
      - redis
    env_file: ".env"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

    
